<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Attendance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Face Attendance Tracker</h1>
    <video id="video" autoplay></video>
    <button id="start">Start Camera</button>
    <button id="capture">Capture Image</button>
    <div id="capturedImage"></div>
    <div id="originalImage"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>